VITE_APPWRITE_ENDPOINT='Your project endpoint/URL'
VITE_APPWRITE_PROJECT_ID="Your project ID"
VITE_APPWRITE_DATABASE_ID='Your project Database ID'
VITE_APPWEITE_COLLECTION_ID='Your Project Collection ID'
VITE_APPWRITE_BUCKET_ID='Your project Bucket ID'